@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/*general styles*/
.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
img {
  max-width: 400px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/*section styles*/
h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 40px;
  color: rgb(142, 80, 18);
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

section {
  background: #bca58a;
  max-width: 100%;
  margin: 0px;
}

div {
  border-radius: 10px;
  max-width: 400px;
  width: 350px;
  display: inline-block;
  position: relative;
  bottom: 50px;
  margin-left: 200px;
}

p {
  text-align: left;
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 15px;
  color: black;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 70%;
}
div:hover p {
  background-color: antiquewhite;
  font-size: large;
  font-weight: bolder;
  opacity: none;
}
div:hover img {
  opacity: 0%;
}
.bengals:hover {
  background-image: url(../images/bengal2.jpeg);
  background-position: center;
}
.turkish:hover {
  background-image: url(../images/turkish2.jpeg);
  background-position: center;
}
.siamese {
  background-image: url(../images/siamese2.jpeg);
  background-position: center;
}
.bengals {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.turkish {
  animation-name: image;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes color-change {
  from {
    color: rgb(142, 80, 18);
  }
  to {
    color: black;
  }
}
@keyframes move {
  0% {
    left: 100px;
  }
  50% {
    left: 5%;
  }
  100% {
    left: 100px;
  }
}
@keyframes image {
  0% {
    right: 100px;
  }
  50% {
    right: 5%;
  }
  100% {
    right: 100px;
  }
}
